

main{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content:center;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.cc{
    text-align: center;
    margin-top: 10px;
}
